@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply bg-primary hover:bg-accent text-white font-medium py-3 px-8 rounded-xl transition transform hover:scale-105;
  }
}
